<launch>
  <!-- Arguments -->
  <!-- <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/> -->
  <arg name="slam_methods" default="gmapping"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <arg name="open_rviz" default="true"/>

  <!-- OMO R1 -->
  <include file="$(find omo_r1_bringup)/launch/omo_r1_remote.launch"/>

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find omo_r1_slam)/launch/omo_r1_$(arg slam_methods).launch">
    <arg name="configuration_basename" value="$(arg configuration_basename)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find omo_r1_slam)/rviz/omo_r1_$(arg slam_methods).rviz"/>
  </group>
</launch>
