<launch>
  <arg name="set_port" default="/dev/ttyLiDAR"/>
  <arg name="set_frame_id" default="base_scan"/>

  <node pkg="ydlidar" type="ydlidar_node" name="omo_r1_ydlidar" output="screen" respawn="false" >
    <param name="port"         type="string" value="$(arg set_port)"/>  
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="$(arg set_frame_id)"/>
    <param name="low_exposure"  type="bool"   value="false"/>
    <param name="resolution_fixed"    type="bool"   value="true"/>
    <param name="auto_reconnect"    type="bool"   value="true"/>
    <param name="reversion"    type="bool"   value="false"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="range_min"    type="double" value="0.60" />
    <param name="range_max"    type="double" value="10.0" />
    <param name="ignore_array" type="string" value="0, 90, -90, 0" />
    <param name="samp_rate"    type="int"    value="9"/>
    <param name="frequency"    type="double" value="7"/>
  </node>
</launch>
