<launch>
	<arg name="set_port" default="/dev/ttyUSB0"/>
	<arg name="set_lift_port" default="/dev/ttyUSB1"/>
	<arg name="set_id" default="1" />
	<include file="$(find omo_r1_bringup)/launch/omo_r1_motor.launch">
		<arg name="set_id" value="$(arg set_id)"/>
		<arg name="set_port" value="$(arg set_port)"/>
	</include>
	<include file="$(find omo_r1_bringup)/launch/omo_r1_camera.launch">
		<arg name="set_id" value="$(arg set_id)"/>
	</include>
	<include file="$(find omo_r1_bringup)/launch/omo_r1_lift.launch">
		<arg name="set_id" value="$(arg set_id)"/>
		<arg name="set_lift_port" value="$(arg set_lift_port)"/>
	</include>
</launch>