 
<launch>
  <arg name="marker_frame_id"     default="base_footprint"/>
  <arg name="marker_size"	        default="5.0"/>

  <include file="$(find omo_r1_bringup)/launch/omo_r1_camera.launch"/>
  <include file="$(find omo_r1_bringup)/launch/omo_r1_remote.launch"/>

  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="marker_size" value="$(arg marker_size)"/>
    <arg name="max_new_marker_error" value="0.08"/>
    <arg name="max_track_error" value="0.2"/>
    <arg name="cam_image_topic" value="/usb_cam/image_raw"/>
    <arg name="cam_info_topic" value="/usb_cam/camera_info"/>
    <arg name="output_frame" value="$(arg marker_frame_id)"/> 
  </include>
</launch>